aiohappyeyeballs

aiohttp

aiosignal

annotated-types

anyascii

anyio

asgiref

attrs

beautifulsoup4

certifi

charset-normalizer

click

click-default-group

coderedcms

coverage

curlify

decorator

defusedxml

distro

Django

django-bootstrap5

django-debug-toolbar

django-eventtools

django-extensions

django-filter

django-modelcluster

django-permissionedforms

django-rosetta

django-sass

django-stubs

django-stubs-ext

django-taggit

django-treebeard

djangorestframework

docx

draftjs-exporter

et_xmlfile

facebook_business

filetype

frozenlist

future

geocoder

greenlet

h11

httpcore

httpx

icalendar

idna

iniconfig

jiter

joblib

l18n

laces

libsass

llm

lxml

multidict

mypy

mypy-extensions

nltk

numpy

openai

openpyxl

packaging

pandas

pillow

pillow_heif

playwright

pluggy

polib

propcache

puremagic

pycountry

pydantic

pydantic_core

pyee

pytesseract

pytest

pytest-cov

pytest-django

python-dateutil

python-docx

python-dotenv

python-ulid

pytz

PyYAML

ratelim

regex

requests

requests-mock

rosetta

ruff

scipy

six

sniffio

soupsieve

sqlite-fts4

sqlite-migrate

sqlite-utils

sqlparse

## Optional: for static export via Wagtail-Bakery
wagtail-bakery

tabulate

telepath

tqdm

types-PyYAML

typing_extensions

tzdata

urllib3

wagtail

wagtail-cache

wagtail-localize

wagtail-seo

wagtail_word

wagtailmedia

Willow

yarl
