/* Initially Hide the Globe */
.hidden {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.language-switcher-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Styling for the Trigger Button */
#globeTrigger {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #222;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

#globeTrigger:hover {
    background: gold;
}

/* Styling for the Close Button */
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #222;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.close-button:hover {
    background: red;
}

/* Styling for the Background Overlay */
#background-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
